<form  class="example-container" [formGroup]="form" (submit)="operate()" #frmExamen="ngForm">

  <div [hidden]="true">
    <mat-form-field>
        <input matInput placeholder="ID" required formControlName="idExamen">
    </mat-form-field>
</div>

<mat-form-field>
    <input matInput placeholder="Nombre" required formControlName="nombre">
    <small *ngIf="f['nombre'].errors?.['required'] && f['nombre'].touched" class="invalid">Es requerido</small>
    <small *ngIf="f['nombre'].errors?.['minlength'] && f['nombre'].touched" class="invalid">Minimo 3</small>
</mat-form-field>

<button mat-raised-button type="submit" color="primary" [disabled]="frmExamen.invalid">
  <mat-icon>done</mat-icon>
  <span>Guardar</span>
</button>
<button mat-raised-button type="button" color="accent" routerLink="/pages/examen">
  <mat-icon>cancel</mat-icon>
  <span>Cancelar</span>
</button>

</form>
